.app-container {
  background-color: #f1f6f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}
